{% extends 'base.html' %}

{% block content %}

<h2>Python Resources</h2>
<table class='table'>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>URL</th>
        <th>Description</th>
    </tr>
    {% for item in resource_list %}
        <tr>
            <td>{{ item.resourcename }}</td>
            <td>{{ item.resourcetype }}</td>
            <td>{{ item.resourceURL }}</td>
            <td>{{ item.resourcedescription }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock %}